html,
body,
#root,
.App,
#dropzone,
#results {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border: 0;
}

body {
  padding: 5px;
}

#dropzone {
  text-align: center;
  font-height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  border: 5px dashed #ccc;
  border-radius: 25px;
}

#loading {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

#loading > div {
  margin: 0 auto;
}

#results ul,
#results ul li {
  list-style: none;
  padding: 0;
  margin: 6px 0;
}

#results {
  display: flex;
  justify-content: center;
  align-content: center;
}

#results > div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#results p {
  line-height: 200%;
  margin: 0;
  flex-grow: 1;
}

#results li {
  width: 400px;
  display: flex;
}

#results li button {
  width: 120px;
  height: 30px;
}
